.day {
    display: grid;
    place-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 0.3rem;
    opacity: 0.6;
}

.active {
    background: linear-gradient(45deg, #fff1eb54, #83cff165);
    box-shadow: inset rgba(144, 231, 247, 0.575) 0px 1px 3px 0px, inset rgba(203, 229, 255, 0.61) 0px 0px 0px 1px;
    opacity: 1;
}

.today {
    background: linear-gradient(45deg, #adee348a, #f1e42e9c);
}