.day {
    display: grid;
    place-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 0.6rem;
    opacity: 0.5;
}

.active {
    opacity: 1;
    color: white;
}

.today {
    color: rgb(57, 58, 77);
    background-color: rgb(var(--today-color));
}